rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /seats-data-palenque-victoria.json {
      allow read: if true;  // Permite lectura pública solo para este archivo
    }
    match /{allPaths=**} {
      allow read, write: if request.auth != null;  // El resto requiere autenticación
    }
  }
}
